.sidebar-mini {
    #sidebar-start{
        position: fixed;
        width: 64px;
        ul.nav li.nav-item.nav-menu a.nav-link {
            justify-content: center;
        }
        ul.nav li.nav-item.nav-menu img.menu-icon {
            width: 20px;
            margin-right: 0px; 

        }
        ul.nav li.nav-item.nav-menu span.menu-title {
            display:none!important;
        }
        
    }
    .main-panel{
        margin-left:64px;
        width: calc(100% - 64px);
    }
    .main-header .logo-header{
        width:64px;
        .brand-img-full{
            display:none;
        }
        .brand-img-mini{
            display:block;
        }
    }
       
}
.main-header .logo-header{
    .brand-img-mini{
        display:none;
    }
    .brand-img-full{
        display:block;
    }
}
#sidebar-start{
    position: fixed;
    ul.nav li.nav-item.nav-menu a.nav-link.active {
        border-right: 3px solid #1d7af3;
        font-weight: bold;
    }
    
    
    
}
.main-panel{
    margin-left:255px;
    width: calc(100% - 255px);
}
@media (max-width: 991px){
    
    #sidebar-start{
        position: fixed;
        left: 0;
        
    }
    .main-panel{
        width: calc(100% - 255px);
    }
    
}
@media (max-width: 768px){
    .main-header .logo-header{
        width:255px;
        background: none;
        .brand-img-mini{
            display:none;
        }
        .brand-img-full{
            display:block;
        }
    }
    #sidebar-start{
        position: fixed;
        left: 0px;
        -webkit-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .main-panel{
        width: calc(100%);
        margin-left:0px;
    }
    .sidebar-mini {
        .main-header .logo-header{
            width:255px;
            background: none;
            .brand-img-mini{
                display:none;
            }
            .brand-img-full{
                display:block;
            }
        }
        #sidebar-start{
            display: none;
            
        }
        .main-panel{
            width: calc(100%);
            margin-left:0px;
        }
        
        
    }
    #navbar_start div.navbar-brand-wrapper{
        width:255px;
        background: none;
        .brand-img-mini{
            
            display:none;
        }
        .brand-img-full{
            display:block;
        }
        
    }

}